<nav class="navbar">
    <ul>
        <li><a href="/logout">Uitloggen</a></li>
        <li><a href="/home">Home</a></li>
        <li><a href="/about">Over</a></li>
        <li><a href="/lessons">Lessen</a></li>
    </ul>
</nav>

<style>
    .navbar {
        background-color: lightblue;
    }

    li {
        float: right;
        margin-right: 20px;
    }

    ul {
        list-style: none;
    }
</style>